AsunaRobot/config.py
AsunaRobot/*.session
AsunaRobot/*.session-journal
AsunaRobot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
AsunaRobot/modules/helper_funcs/temp.txt
AsunaRobot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
asuna.session-journal
updates.txt
*.exe
